<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA_Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <link type="text/css"  rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="/src/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/css/style.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="/form">form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notes">notes</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <script src="/src/js/jquery.min.js"crossorigin="anonymous"></script> 
    <script src="/src/js/bootstrap.min.js"crossorigin="anonymous"></script> 
    <script src="/src/js/index.js"crossorigin="anonymous"></script> 
    