<%- include('includes/head.ejs')%>
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <form action="/update-note" method="post">
        <div class="row">
          <div class="col-12 form-group">
            <div class="row justify-content-center">
              <div class="col-6">
                <input type="text" name="title" value="<%=note.title%>" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="row justify-content-center">
              <div class="col-6">
                <textarea name="body" class="form-control"> <%= note.body %></textarea>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-6">
                <button type="submit" class="btn btn-success w-100">Save</button>
              </div>
            </div>
          </div>
          <input type="hidden" name="_id" value="<%=note._id%>" class="form-control"/>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('includes/end.ejs')%>
