<%- include('includes/head.ejs')%>
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <form action="/add-note" method="post">
        <div class="row">
          <div class="col-12 form-group">
            <div class="row justify-content-center">
              <div class="col-6">
                <input type="text" name="title" value="" class="form-control" placeholder="Enter title..." required/>
              </div>
            </div>
          </div>
          <div class="col-12 form-group">
            <div class="row justify-content-center">
              <div class="col-6">
                <textarea name="body" class="form-control" placeholder="Enter body..." required></textarea>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-6">
                <button type="submit" class="btn btn-success w-100">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('includes/end.ejs')%>
