<%- include('includes/head.ejs')%> <% if (notes.length > 0) { %>
<div class="row">
  <% notes.forEach((note) => { %>
  <div class="col-md-4">
    <div class="card-body">
      <a href="/note/<%= note._id %>/show"><h5 class="card-title"><%= note.title %></h5></a>
      <p class="card-text"><%= note.body %></p>
      <a href="/note/<%= note._id %>/edit" class="btn btn-primary">Edit</a>
      <a href="/note/<%= note._id %>/delete" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <% }) %>
</div>
<% } %>
