<%- include('includes/head.ejs')%>
    <div class="container">
        <form class="formMain" action="/add-note" method='post'>
            <div class="row">
                <div class="col-6 justify-content-center">
                    <h3>Title</h3>
                    <p><%= prods[0].title %></p>
                </div>
                <div class="col-6 justify-content-center">
                    <h3>Text</h3> 
                    <p><%= prods[0].body %></p>
                </div>
            </div>
        </form>
    </div>
<%- include('includes/end.ejs')%>